<h1>New listing</h1>

<form action="/host/listings" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="field">
    <label for="title">Title</label>
    <br>
    <input type="text" name="listing[title]" id="title">
  </div>

  <br>
  <div class="field">
    <label for="about">About</label>
    <br>
    <textarea name="listing[about]" id="about" cols="30" rows="10"></textarea>
  </div>

  <br>
  <div class="field">
    <label for="max_guests">Max guests</label>
    <br>
    <input type="text" name="listing[max_guests]" id="max_guests">
  </div>

  <br>
  <button type="submit">Submit</button>
</form>
